
body {
    background-color: #f7f7f7;
}

nav {
    background-color: #9b0000;
}

span {
    color: #f7f7f7;
    font-weight: bolder;
}

.section {
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }